<div class="search-modal-wrap">
        <div class="search-modal-screen" style="opacity: 0;"></div>
        <div class="search-modal-content" style="opacity: 0; transform: translate3d(0px, -48px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
            <form action="/search" class="search-modal-form w-form"><input class="form-input w-input" maxlength="256" name="query" placeholder="Search…" type="search" id="search" required=""><input type="submit" class="button search-modal-button w-button" value="Search"></form>
        </div>
    </div>